#cart-page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#cart-page-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 72rem;
    border: 1px solid black;
    margin-top: 2rem;

}

.cart-content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.cart-items-list {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 47rem;

}

.order-summary {
    width: 20rem;
    padding: 1rem;
    background-color: rgb(247, 247, 247);
}

.cart-item-wrapper {
    display: flex;
    padding: 2rem 0rem;
    border-bottom: 1px solid black;
}

.cart-item-img {
    display: flex;
    width: 10rem;
    justify-content: center;
    align-items: center;
}

.cart-item-img > img {
    max-width: 10rem;
    max-height: 5.6rem;
}

.space-between {
    display: flex;
    justify-content: space-between;
}
