.product-page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
}


.product-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 71.5rem;
    margin-top: 4rem;
    padding: 2rem 3rem 4rem 3rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 16px 0px;
}

.product-content {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    gap: 3rem;
}

.product-img {
    display: flex;
    width: 41rem;
    justify-content: center;
}
.product-img > img {
    max-width: 41rem;
    max-height: 25rem;
    border-radius: 8px;
}

.product-bottom-section {
    display: flex;
    width: 100%;
    max-width: 71.5rem;
    margin-top: 5rem;

}

.product-description {
    display: flex;
    flex-direction: column;
    width: 35rem;
}

.product-description > h3 {
    font-size: 25px;
}

.product-desc-img {
    display: flex;
    width: 40rem;
    justify-content: center;
}

.product-desc-img > img {
    max-width: 30rem;
    max-height: 25rem;
    margin-bottom: 5rem;
}

.cart-dropdown {
    position: fixed;
    top: 0;
    right: 0;
    width: 19rem;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    margin: 0px;
    padding: 20px;
}

.cart-grey-back {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.right-modal-header > i {
    font-size: 24px;
    color: rgb(189, 189, 189);
    cursor: pointer;
}

.cart-modal-info {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
}

#cart-modal-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 8px;
}

#cart-modal-box > img {
    border-radius: 8px;
}

#cart-modal-checkout {
    border: none;
    background-color: rgb(230, 0, 18);
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 3rem;
    border-radius: 8px;
    margin-top: 1.5rem;
}

#continue-shopping {
    border: 1px solid rgb(230, 0, 18);
    background-color: white;
    color: rgb(230, 0, 18);
    font-size: 16px;
    cursor: pointer;
    height: 3rem;
    border-radius: 8px;
    margin-top: .7rem;
}

#cart-modal-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(189, 189, 189);
}

#modal-qty-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#modal-qty-price > div {
    font-size: 14px;
    color: rgb(109, 109, 109);
}

.product-path {
    display: flex;
    gap: 0.5rem;
    font-size: 12px;
    align-items: center;
}

.product-path > i {
    color: rgb(190, 190, 190);
}

.path-link {
    color: rgb(97, 97, 97);
    cursor: pointer;
}

.product-link {
    color: black;
}

.product-color {
    display: flex;
    position: absolute;
    height: 35rem;
    width: 100%;
    z-index: -1;
    background-color: rgb(233, 233, 233);
}

.product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-to-cart-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 2rem 0;
}

.quantity-adjuster {
    height: 3.5rem;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 8px;
    display: flex;
    width: 8rem;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.quantity-adjuster > button {
    border: none;
    font-size: 15px;
    width: 33%;
    height: 100%;
    cursor: pointer;
}

.quantity-adjuster > button:disabled {
    border: none;
    font-size: 15px;
    width: 33%;
    height: 100%;
    cursor: not-allowed;
}

.add-to-cart-button {
    width: 18rem;
    background-color: rgb(230, 0, 18);
    color: white;
    font-size: 20px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.add-to-cart-button * {
    color: white;
}

.category-line {
    border-left: 3px solid;
    padding-left: .3rem;
    color:rgb(109, 109, 109);
    font-size: 14px;
}

.esrb {
    width: 3rem;
    margin-top: 1.5rem;
}

.product-edit {
    border: 1px solid rgb(230, 0, 18);
    background-color: white;
    color: rgb(230, 0, 18);
    font-size: 15px;
    cursor: pointer;
    height: 3rem;
    border-radius: 8px;
    width: 100%;
}

.manage-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
