.product-page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.product-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 71.5rem;
    border: 1px solid black;
    margin-top: 4rem;
    padding: 2rem 3rem 5rem 3rem;
}

.product-path {
    display: flex;
    background-image: url('https://media.discordapp.net/attachments/1128785113287753760/1131522101128466483/image.png');
    background-repeat: repeat-x;
    background-size: 40px;
    z-index: 1;
}

.product-content {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    gap: 3rem;
}

.product-img {
    display: flex;
    width: 41rem;
    justify-content: center;
}
.product-img > img {
    max-width: 41rem;
    max-height: 25rem;
}

.product-bottom-section {
    display: flex;
    width: 100%;
    max-width: 71.5rem;
    margin-top: 5rem;

}

.product-description {
    display: flex;
    flex-direction: column;
    width: 35rem;
}

.product-desc-img {
    display: flex;
    width: 40rem;
    justify-content: center;
}

.product-desc-img > img {
    max-width: 30rem;
    max-height: 25rem;
    margin-bottom: 5rem;
}
