.product-page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: relative;
}


.product-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 71.5rem;
    border: 1px solid black;
    margin-top: 4rem;
    padding: 2rem 3rem 5rem 3rem;
}

.product-content {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    gap: 3rem;
}

.product-img {
    display: flex;
    width: 41rem;
    justify-content: center;
}
.product-img > img {
    max-width: 41rem;
    max-height: 25rem;
}

.product-bottom-section {
    display: flex;
    width: 100%;
    max-width: 71.5rem;
    margin-top: 5rem;

}

.product-description {
    display: flex;
    flex-direction: column;
    width: 35rem;
}

.product-desc-img {
    display: flex;
    width: 40rem;
    justify-content: center;
}

.product-desc-img > img {
    max-width: 30rem;
    max-height: 25rem;
    margin-bottom: 5rem;
}

.cart-dropdown {
    position: fixed;
    top: 0;
    right: 0;
    width: 19rem;
    height: 100vh;
    background-color: rgb(241, 241, 241);
    margin: 0px;
    padding: 20px;
}

.cart-grey-back {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.right-modal-header > i {
    font-size: 24px;
    color: rgb(189, 189, 189);
    cursor: pointer;
}

.cart-modal-info {
    display: flex;
    flex-direction: column;
    padding-right: 0.5rem;
}

#cart-modal-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    border: 1px solid rgb(189, 189, 189);
    border-radius: 8px;
}

#cart-modal-box > img {
    border-radius: 8px;
}

#cart-modal-checkout {
    border: none;
    background-color: rgb(230, 0, 18);
    color: white;
    font-size: 16px;
    cursor: pointer;
    height: 3rem;
    border-radius: 8px;
    margin-top: 1.5rem;
}

#continue-shopping {
    border: 1px solid rgb(230, 0, 18);
    background-color: white;
    color: rgb(230, 0, 18);
    font-size: 16px;
    cursor: pointer;
    height: 3rem;
    border-radius: 8px;
    margin-top: .7rem;
}

#cart-modal-item {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(189, 189, 189);
}

#modal-qty-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#modal-qty-price > div {
    font-size: 14px;
    color: rgb(109, 109, 109);
}
