/* TODO Add site wide styles */

body {
    margin: 0;
}

h2 {
    margin: 0;
}

.error {
    color: red;
}

.dodge-nav {
    position: absolute;
    width: 100%;
    top: 6rem;
}

.dodge-small-nav {
    position: absolute;
    width: 100%;
    top: 3.2rem;
}

* {
    font-family: 'Geologica';
    color: rgb(66, 66, 66)
}
